<html>

<head>
  <link rel="stylesheet" href="style.css">
</head>

<body>
<h1>Zillow Missed Connections</h1>



<div>
  <input type="file" id=""/>
</div>
<div>
  <button onclick="handlers.displayFirstImage()">Show Ogre</button>
</div>

<div>
  <img id="ogreImage"/>
</div>





<ul>
</ul>

<script src="script.js"></script>
</body>

</html>
