<div class="container">
  <div class="card">
    <img style="margin: 25px;" class="rounded d-block card-img-top" src="first.jpg" alt="success">
      <div class="card-body">
        <h5 class="card-title">Let's get you the file</h5>
        <p class="card-text">It may take a moment to get all of the properties on the file, and it may not even finish all of the properties,
          as there is a limit to number of calls we can make to Zillow each day. If you hit the limit before the file is finished, you can use your result file
          tomorrow to continue calls.
        </p>
        <form method="post" action="/downloadResults">
          <input class="btn btn-success" type="submit" value="Download Results File">
        </form>
      </div>
    </div>


</div>