<html>

<head>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="style.css">
</head>

<body>

<div class="container">
  <div class="card" style="width: 58rem; background: lightgray;">
    <div class="card-body">
      <form action="/romance" method="POST" enctype="multipart/form-data">
        <div class="form-group">
          <h5 class="card-title">CSV Matchmaker</h5>
          <h6 class="card-subtitle mb-2 text-muted">Let's make some magic happen!</h6>
          <div class="form-group form-group-lg">
            <label for="inputFiles">Select a CSV file</label>
            <input type="file" name="input_file" class="form-control-file" accept=".csv">
            <button type="submit" class="btn btn-lrg btn-success" id="spanishFly">Check CSV File!</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container">
  <img src="first.jpg" class="rounded d-block" alt="...">
</div>